#progress-indicator {
    width: 50px;
    background-color: yellow;
    border-radius: 4rem;
}

#progress-indicator.processing{
    background-color: cornflowerblue;
}

#progress-indicator.saved{
    background-color: chocolate;
}

#progress-indicator.failed{
    background-color: crimson;
}